*{
    color: white;
}
body{
    background-color: black;
    margin: 0;
    overflow-x: hidden;
    padding-inline: 10px;
}
.links{
    color: white;
    background-color: black;
    display: flex;
    gap: 20px;
    justify-content: space-between;

}
a{
    color: white;
    align-items: center;
    text-decoration: none;
}
.upper-section{
    background-image: url("big cat.jpeg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -200px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 1.5em;
     
    
}
h1{
    color: orange;
    font-size: 3em;
    font-style: normal;

}
.view-btn{
    background-color: chocolate;
    padding: 10px 30px 10px 20px;
    border-radius: 10px;
    border-radius: none;
}

.p1{
    align-items: center;
}
.h2{
    color: orange;
    text-align: center;
    margin-bottom: 0%;
    
}
.p2{
    font-size: 20px
    

}
.p3{
    font-size:20px ;
    
}
.images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    background-color: black;
    gap: 4%;
    align-items: center;
    border: 10px;
    & > section{
        width: min(100vw, 200px) !important;
        & > p{
            width: 100%;
        }
    }

}
.last{
    background-image: url("guniea pigs.jpg");
    background-position: center;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p{
    background-color: rgba(12, 12, 12, 0.377);
    color:chocolate;
    width: min(500px, 100vw);
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    color: black;
    background-color: chocolate;
    height: 50px;
    border-radius: 10px;
}
[type="submit"]{
    background-color: chocolate;
    border-radius: 10px;
    height: 50px;
    width: 100px;

}
h4{
    font-style: normal;
    font-size: xx-large;
    width: 100%;
    text-align: center;
    height: 50px;
}
.u{
    text-align: center;
}

.bunnies{
    border: 10px solid orange;
}
form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
input{
    height: 50px;
    width: 300px;
    border-radius: 10px;
}
